WpfTwitterStatusReader/Service References/ServiceReference1/TwitterReaderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60472/TwitterReaderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfStatusReaderService" />
  <xs:element name="GetTweets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tweets" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTweetsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfStatusReaderService" minOccurs="0" name="GetTweetDataResult" nillable="true" type="q1:TweetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop10Tweets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop10TweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTop10TweetsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>